<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      <!-- if servers selector is 'app-servers' -->
      <app-servers></app-servers>
      <!-- <app-intro></app-intro> -->

      <!-- if servers selector is an attribute selector '[app-servers]' -->
      <!-- <div app-servers></div>  -->

      <!-- if servers selector is a class selector '.app-servers' -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>
